<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-collection">
	<header id="site-header"
		class="d-flex flex-row justify-content-center align-items-start"
		style="color: white; margin-top: 5rem"
	>
		<div class="d-flex flex-column w-100 text-center bg-dark p-2">
			<h1 class="d-inline-block mx-auto fst-italic">𝒯𝒽𝑒𝓇𝒶𝓅𝒾𝓈𝓉𝓈</h1>
			<span class="mt-1">セラピスト一覧</span>
		</div>
	</header>
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<main>
		<section>
			<h2 class="section-title text-center">
				セラピスト一覧<br />
				<span>THERAPIST LIST</span>
			</h2>
			<th:block th:insert="~{public/components/public-cast :: public-cast(
				products=${productsAll},
				isHorizontalScroll=false
			)}"></th:block>
		</section>
		<th:block th:insert="~{public/components/public-cta-bridge}"></th:block>
		<th:block th:insert="~{public/components/public-bottom-nav}"></th:block>
	</main>
</th:block>
