<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-collection">
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<header id="site-header" class="d-flex flex-row justify-content-center align-items-start">
		<img class="banner-img banner-img-medium"
		th:src="@{/public/assets/images/hero.jpg}"
		alt=""/>
	</header>
	<main>
		<section class="text-center">
			受付時間10:00～4:00(最終受付)
		</section>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">在籍奥様紹介</h2>
			<th:block th:insert="~{public/components/public-cast :: public-cast(products=${productsAll})}"></th:block>
		</section>
		<th:block th:insert="~{public/components/public-cta-bridge}"></th:block>
		<th:block th:insert="~{public/components/public-bottom-nav}"></th:block>
	</main>
</th:block>
