<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-home">
	<header id="site-header"
		class="d-flex justify-content-center align-items-center home-header"
		style="color: white"
	>
		<img
			class="banner-img banner-img-tall"
			th:src="@{/public/assets/images/banner_1.jpg}"
			alt=""
		/>
	</header>
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<main class="main-content">
		<section class="text-center">
			受付時間10:00～4:00(最終受付)
		</section>
		<img
			class="banner-img banner-img-medium"
			th:src="@{/public/assets/images/banner_2.jpg}"
			alt=""
		/>
		<img
			class="banner-img banner-img-medium"
			th:src="@{/public/assets/images/banner_3.jpg}"
			alt=""
		/>
		<img
			class="banner-img banner-img-medium"
			th:src="@{/public/assets/images/banner_4.jpg}"
			alt=""
		/>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">最新ニュース</h2>
			<th:block
				th:insert="~{public/components/public-blog(
					blogs=${blogs},
					isButtonShown=${isButtonShown},
					isUrl=${isUrl}
				)}"></th:block>
		</section>
		<section>
			<h2 class="section-title nav-velvet text-white">
				イベント
			</h2>
			<div class="event-gallery">
				<div class="event-track">
					<th:block th:each="announcement : ${announcements}" >
						<a th:href="${announcement.url}" class="event-slide">
							<img th:src="@{'/files/' + ${announcement.imageName}}" alt="" />
						</a>
					</th:block>
				</div>
		
				<div class="event-dots">
					<button class="dot active" data-index="0"></button>
					<button class="dot" data-index="1"></button>
					<button class="dot" data-index="2"></button>
				</div>
			</div>
		</section>
		<th:block
			th:insert="~{public/components/public-bottom-nav}"
		></th:block>
		<th:block
			th:insert="~{public/components/public-cta-bridge}"
		></th:block>
	</main>
</th:block>
