<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-blogs">
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<header id="site-header" class="d-flex flex-row justify-content-center align-items-start">
		<img class="banner-img banner-img-medium"
		th:src="@{/public/assets/images/hero.jpg}"
		alt=""/>
	</header>
	<main>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">最新ニュース</h2>
			
			<th:block th:insert="~{public/components/public-blog(
				blogs=${blogs},
				isButtonShown=${isButtonShown},
				isUrl=${isUrl}
				)}"></th:block>
		</section>
		<th:block th:insert="~{public/components/public-cta-bridge}"></th:block>
		<th:block th:insert="~{public/components/public-bottom-nav}"></th:block>
	</main>
</th:block>
