<th:block th:fragment="public-collection"  xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<header id="site-header" class="d-flex flex-row justify-content-center align-items-start">
	</header>
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<main>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">システム</h2>
			<div class="ps-3 pe-3">
				<img class="banner-img banner-img-short"
				th:src="@{/public/assets/images/pricing_1.png}"
				loading="lazy"
				alt="" />
			</div>
			<img th:src="@{/public/assets/images/pricing_content_1.webp}"
			class="w-100 object-fit"
			loading="lazy"
			alt="" />
			<div>
				<h3 class="bg-peach text-center p-2 fs-6 fw-bolder text-velvet mt-1">料金について</h3>
				<div class="p-3 text-justify font-kyokasho">
					当店はボッタクリなど一切なく安心の明朗会計となっておりますのでご安心ください。
					料金は、コース料金 のみとなっております。
					各種指名料は無料になります。その他には一切いただいておりません。
					表記の金額以上一切頂きません。
					本指名などの各種指名料も込みの金額となります。
				</div>
			</div>
			<div class="mt-3">
				<h3 class="bg-peach text-center p-2 fs-6 fw-bolder text-velvet mt-1">基本料金</h3>
				<div class="p-3 text-justify font-kyokasho">
					<table class="table">
						<tr>
							<td>入会金</td>
							<td>無料</td>
						</tr>
						<tr>
							<td>写真指名料・本指名料</td>
							<td>無料</td>
						</tr>
						<tr>
							<td>交通費</td>
							<td>無料</td>
						</tr>
					</table>
					待ち合わせした時点でお時間スタートとなります。
					※お客様のホテル、ご自宅直接派遣も可能です。
				</div>
			</div>
			<div class="mt-3">
				<h3 class="bg-peach text-center p-2 fs-6 fw-bolder text-velvet mt-1">各種組み合わせ可能</h3>
				<div class="p-3 text-justify font-kyokasho">
					<table class="table text-center align-middle">
						<tr>
							<td>60分<br />9,000฿</td>
							<td>＋</td>
							<td>90分<br />13,000฿</td>
							<td>=</td>
							<td>22,000฿</td>
						</tr>
						<tr>
							<td>90分<br />13,000฿</td>
							<td>＋</td>
							<td>90分<br />13,000฿</td>
							<td>=</td>
							<td>26,000฿</td>
						</tr>
						<tr>
							<td>130分<br />18,000฿</td>
							<td>+</td>
							<td>90分<br />13,000฿</td>
							<td>=</td>
							<td>31,000฿</td>
						</tr>
						<tr>
							<td>130分<br />18,000฿</td>
							<td>＋</td>
							<td>130分<br />18,000฿</td>
							<td>=</td>
							<td>36,000฿</td>
						</tr>
					</table>
					料金はコース料金のみとなります。
					各コースは上記のように自由に組み合わせることが可能です。
					お客様のご都合に合わせ様々なコースをご提案致しますので、
					お気軽にスタッフまでご相談ください。
				</div>
			</div>
			<div class="mt-3">
				<h3 class="bg-peach text-center p-2 fs-6 fw-bolder text-velvet mt-1">基本プレイ下記プレイに関してコース料金内に含まれておりますのでご安心ください</h3>
				<div class="row p-3">
					<div class="col-6">
						基本プレイ
					</div>
					<div class="col-6">
						SEXまでの行為,<br />
						乳首なめ,Dキス,<br />
						全身リップ,生フェラ,<br />
						指入れ,玉なめ,<br />
						素股,69,<br />
						口内発射,笑顔
					</div>
					<hr />
				</div>
			</div>
			<img th:src="@{/public/assets/images/pricing_content_2.webp}"
			class="w-100 object-fit"
			loading="lazy"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_3.webp}"
			class="w-100 object-fit"
			loading="lazy"
			alt="" />
			<div class="mt-3">
				<h3 class="section-title nav-velvet p-2 text-white text-center mb-1">奥様の実話10カ条</h3>
				<div class="p-3 text-justify font-kyokasho">
					駐妻達が安心してより濃厚なサービスを提供できるよう、以下の注意事項をお守り下さい。
					<ol>
						<li>店外での個人的な付き合いの強要。</li>
						<li>当店のプレイ内容の範囲を超えた、駐妻達の身体を傷つけるような行為。</li>
						<li>薬物を服用してのプレイ、もしくはコンパニオンへの薬物の使用。</li>
						<li>ビデオカメラ・デジカメ・カメラ付携帯等、各種カメラによる撮影又は盗撮・盗聴などの行為。</li>
						<li>駐妻の私生活を脅かすストーキング等の行為。</li>
						<li>暴力団関係者又はそれに準ずる方、刺青等のある方。</li>
						<li>性病の方、若しくはそう受け取られる方。</li>
						<li>お客様所有のプレイ道具等を使用する行為。</li>
						<li>同業者及びそれに準ずる者が当店コンパニオンをスカウトする行為。</li>
						<li>サービス時間後になってもコンパニオンを拘束する、又はそれに等しい行為。 上記事項に反したお客様には、然るべき措置をとらせて頂く事もございます。</li>
					</ol>
				</div>
			</div>	

		</section>
		<th:block
			th:insert="~{public/components/public-cta-bridge}"
		></th:block>
		<th:block
			th:insert="~{public/components/public-bottom-nav}"
		></th:block>
	</main>
</th:block>
