<th:block th:fragment="public-collection"  xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<header id="site-header" class="d-flex flex-row justify-content-center align-items-start">
		<img class="banner-img banner-img-medium"
		th:src="@{/public/assets/images/hero.jpg}"
		alt=""/>
	</header>
	<th:block th:replace="~{public/components/public-top-navbar :: public-top-navbar}"></th:block>
	<main>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">システム</h2>
			<img class="banner-img banner-img-short"
			th:src="@{/public/assets/images/pricing_1.png}"
			alt="" />
			<img class="banner-img banner-img-short"
			th:src="@{/public/assets/images/pricing_2.png}"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_1.jpg}"
			class="w-100 object-fit"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_2.jpg}"
			class="w-100 object-fit"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_3.jpg}"
			class="w-100 object-fit"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_4.jpg}"
			class="w-100 object-fit"
			alt="" />
			<img th:src="@{/public/assets/images/pricing_content_5.jpg}"
			class="w-100 object-fit"
			alt="" />
		</section>
		<section>
			<h2 class="section-title nav-velvet text-white mb-1">奥様の実話10カ条</h2>
			<div class="p-2 text-justify">
				奥様達が安心してより濃厚なサービスを提供できるよう、以下の注意事項をお守り下さい。
				<ol>
					<li>本番行為の強要や、店外での個人的な付き合いの強要。</li>
					<li>ヘルスの範囲を超えた、奥様達の体を傷つけるような行為。</li>
					<li>薬物を服用してのプレイ、もしくはコンパニオンへの薬物の使用。</li>
					<li>ビデオカメラ・デジカメ・カメラ付携帯等、各種カメラによる撮影又は盗撮・盗聴などの行為。</li>
					<li>奥様の私生活を脅かすストーキング等の行為。</li>
					<li>暴力団関係者又はそれに準ずる方、刺青等のある方。</li>
					<li>性病の方、若しくはそう受け取られる方。</li>
					<li>お客様所有のプレイ道具等を使用する行為。</li>
					<li>同業者及びそれに準ずる者が当店コンパニオンをスカウトする行為。</li>
					<li>サービス時間後になってもコンパニオンを拘束する、又はそれに等しい行為。
				当店は改正新風俗営業法に基づいた運営を致しております。
				上記事項に反したお客様には、然るべき措置をとらせて頂く事もございます。</li>
				</ol>
			</div>
		</section>
		<th:block
			th:insert="~{public/components/public-cta-bridge}"
		></th:block>
		<th:block
			th:insert="~{public/components/public-bottom-nav}"
		></th:block>
	</main>
</th:block>
