<th:block
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	th:fragment="public-top-navbar"
>
	<div id="top-navbar" class="navbar navbar-dark bg-none fixed-top border-bottom border-warning">
		<div class="container-fluid p-3 nav-velvet">
			<div class="d-flex w-100 justify-content-between text-center align-items-center gap-1">
				<a th:href="@{/{lang}/home(lang=${#locale.language})}"
					class="nav-link nav-velvet-link">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
					  <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982"/>
					  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
					</svg><br />
					トップ
				</a>
				<a th:href="@{/{lang}/home/cast(lang=${#locale.language})}"
					class="nav-link  nav-velvet-link">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
				  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
				  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
				</svg><br />
					奥様紹介
				</a>
				<a th:href="@{/{lang}/home/how-to-play(lang=${#locale.language})}"
					class="nav-link  nav-velvet-link">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
				  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
				  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
				</svg><br />
					遊び方
				</a>
				<a th:href="@{/{lang}/home/pricing(lang=${#locale.language})}"
					class="nav-link nav-velvet-link">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
				  <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
				  <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
				</svg><br />
					料金システム
				</a>
				<button id="menuBtn"
					class="nav-link nav-velvet-link"
					data-bs-toggle="offcanvas"
					data-bs-target="#menuOffcanvas"
					style="border-radius: 0px">
					☰<br />
					メニュー
				</button>
				<!--<th:block th:insert="~{public/components/public-menu-navbar :: public-menu-navbar}"></th:block>-->
			</div>
		</div>
	</div>
</th:block>
