<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-bottom-nav">
	<section>
		<div class="container">
			<h3 class="text-center">メニュー</h3>
			<div class="row gx-2 align-items-stretch">
			    <div class="col-6 d-flex mt-1">
			        <a th:href="@{/{lang}/home(lang=${#locale.language})}"
			           class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
			            <span class="nav-velvet-link fs-6">トップ</span>
			        </a>
			    </div>
			    <div class="col-6 d-flex mt-1">
			        <a th:href="@{/{lang}/home/cast(lang=${#locale.language})}"
			           class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
			            <span class="nav-velvet-link fs-6">奥様一覧</span>
			        </a>
			    </div>
			    <div class="col-6 d-flex mt-1">
			        <a th:href="@{/{lang}/home/how-to-play(lang=${#locale.language})}"
			           class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
			            <span class="nav-velvet-link fs-6">遊び方</span>
			        </a>
			    </div>
			    <div class="col-6 d-flex mt-1">
			        <a th:href="@{/{lang}/home/pricing(lang=${#locale.language})}"
			           class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
			            <span class="nav-velvet-link fs-6">料金システム</span>
			        </a>
			    </div>
				<div class="col-6 d-flex mt-1">
			        <a th:href="@{/{lang}/home/review(lang=${#locale.language})}"
			           class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
			            <span class="nav-velvet-link fs-6">イベント</span>
			        </a>
			    </div>
				<div class="col-6 d-flex mt-1">
					<a th:href="@{/{lang}/home/job-listing(lang=${#locale.language})}" 
						class="nav-velvet p-4 w-100 d-flex align-items-center justify-content-center text-center text-decoration-none rounded">
						<span class="nav-velvet-link fs-6">アンケート</span>
					</a>
				</div>
			</div>
		</div>
	</section>
</th:block>
