<th:block 	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security" th:fragment="public-menu-navbar">
	<nav>
	<!-- 
		<button
			id="menuBtn"
			class="btn btn-dark menu-btn"
			data-bs-toggle="offcanvas"
			data-bs-target="#menuOffcanvas"
			style="border-radius: 0px"
		>
			☰
		</button>
	 -->
		<div
			class="offcanvas offcanvas-custom"
			tabindex="-1"
			id="menuOffcanvas"
		>
			<div class="offcanvas-header">
			<!-- <h5 class="offcanvas-title" style="font-size: 0.8rem">
					ワンランク上の、大人の休息をあなたに。<br />
					RONDO
				</h5> -->
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="offcanvas"
				></button>
			</div>

			<div class="offcanvas-body">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home(lang=${#locale.language})}">トップ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/cast(lang=${#locale.language})}">出勤情報</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/option-menu(lang=${#locale.language})}">遊び方</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/news(lang=${#locale.language})}">料金システム</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/review(lang=${#locale.language})}">イベント</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/contact-us(lang=${#locale.language})}">奥様一覧</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/{lang}/home/job-listing(lang=${#locale.language})}">アンケート</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</th:block>
