<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="public-cast(products,isHorizontalScroll)">
	<div th:if="${isHorizontalScroll}" class="container">
		<div class="horizontal-scroll">
			<a
				th:each="product : ${products}"
				class="card-item"
				th:href="@{/{lang}/home/cast/{productId}(lang=${#locale.language},productId=${product.id})}"
			>
				<img
					th:src="@{'/files/' + ${product.getMainProductImage}}"
					alt=""
				/>
				<div class="card-overlay">
					<span class="badge bg-danger">NEW</span>
					<div class="card-text">
						<span
							th:text="${product.title} + '/' + ${product.age}"
						></span
						>
						<!-- 
						<br />
						<span class="card-meta">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="16"
								height="16"
								fill="currentColor"
								class="bi bi-clock"
								viewBox="0 0 16 16"
							>
								<path
									d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
								/>
								<path
									d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
								/>
							</svg>
							13:00～01:00
						</span>
						 -->
					</div>
				</div>
			</a>
		</div>
	</div>
	<div th:unless="${isHorizontalScroll}" class="container">
		<div class="row">
			<div class="col-12 col-md-6 mt-5"
			th:each="product : ${products}">
				<a
					class="card-item"
					th:href="@{/{lang}/home/cast/{productId}(lang=${#locale.language},productId=${product.id})}"
				>
					<img
						th:src="@{'/files/' + ${product.getMainProductImage}}"
						alt=""
					/>
					<div class="card-overlay">
						<!-- 
						<span class="badge bg-danger">NEW</span>
						 -->
						<div class="card-text">
							<span
								th:text="${product.title} + '/' + ${product.age}"
							></span
							>
							<!-- 
							<br />
							<span class="card-meta">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									class="bi bi-clock"
									viewBox="0 0 16 16"
								>
									<path
										d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
									/>
									<path
										d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
									/>
								</svg>
								13:00～01:00
							</span>
							 -->
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</th:block>
